

{% extends "base.html" %}
{% block content %}
 {% if not user.is_authenticated %}
    <div id="login" class="row text-center">
        <form class="form-horizontal" name="LoginForm" action="" method="post">
        {% csrf_token %}
        <div class="control-group">
            <label class="control-label" for="username">Username</label>
            <div class="controls">
                <input type="text" id="username" name="username"  placeholder="Username">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="password">Password</label>
            <div class="controls">
                <input type="password" name="password" id="password" placeholder="Password">
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn">Login</button>
            </div>
        </div>
        {% if login_failed %}
          <p>Login Failed !!! <p>
        {% endif%}
        </form>
    </div>
    {% else %}
    {% endif %}
{% endblock %}

